<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983100080605-3ds21228u6qct34cpbg1g2o3ungtva5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983100080605-3ds21228u6qct34cpbg1g2o3ungtva5f</string>
	<key>API_KEY</key>
	<string>AIzaSyA4xIs7iUN1OWuzmpVKEB31k9mzOe7izDE</string>
	<key>GCM_SENDER_ID</key>
	<string>983100080605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eduscript</string>
	<key>PROJECT_ID</key>
	<string>eduscript-d7f91</string>
	<key>STORAGE_BUCKET</key>
	<string>eduscript-d7f91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983100080605:ios:7eb08eda92812c8776f634</string>
	<key>DATABASE_URL</key>
	<string>https://eduscript-d7f91-default-rtdb.firebaseio.com</string>
</dict>
</plist>